@model DiffViewModel
<html><head>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0"/>
<style>
body {
    margin:0;
}

table.diff {
    border-collapse:collapse;
    border:1px solid darkgray;
    white-space:pre;
    width:100%;
}
table.diff tbody { 
    font-family:Courier, monospace
}
table.diff tbody th {
    font-family:verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
    background:#EED;
    font-weight:normal;
    border:1px solid #BBC;
    color:#886;
    padding:.3em .3em;
    text-align:right;
}
table.diff thead {
    border-bottom:1px solid #BBC;
    background:#EFEFEF;
    font-family:Verdana;
}
table.diff thead th.texttitle {
    text-align:left
}
table.diff tbody td {
    padding:.3em .4em;
    width: 100%;
}
table.diff .empty {
    background-color:#DDD;
}
table.diff .replace {
    background-color:#FD8
}
table.diff .delete {
    background-color:#E99;
}
table.diff .skip {
    background-color:#EFEFEF;
    border:1px solid #AAA;
    border-right:1px solid #BBC;
}
table.diff .insert {
    background-color:#9E9
}
table.diff th.author {
    text-align:left;
    border-top:1px solid #BBC;
    background:#EFEFEF
}

.comment > td {
background:#EED;
border:1px solid #BBC;
}

.comment > td > div.inner {
margin: 10px;
border-radius: 3px;
background:#fff;
border:1px solid #BBC;
padding: 15px 10px 10px 10px;
}

.comment > td > div.inner > header {
padding-left:43px;
position:relative;
color:#3b73af;
font-weight: bold;
display:inline;
}

.comment > td > div.inner > header > img {
position: absolute;
top: 0px;
left: 0px;
border-radius: 3px;
width: 32px;
height: 32px;
display: inline;
border: none;
}

.comment > td > div.inner > .content {
overflow: hidden;
word-wrap: break-word;
margin:0;
padding:0;
padding-left: 43px;
}
</style>
</head>
    <body>
		<table class="diff" width="100%">
		    <thead>
                <tr>
                    </th></th>
                    </th></th>
				    </th></th>
				</tr>
			</thead>
			<tbody>
                @foreach (var h in Model.Patch)
                {
                    var oLine = h.OldStart;
                    var nLine = h.NewStart;
                    foreach (var l in h.Lines)
                    {
                        <tr>
                            @{bool isAddition = l.StartsWith("+");}
                            @{bool isDeletion = l.StartsWith("-");}
                            @{string lineFrom = null;}
					        @{string lineTo = null;}
					        @if(!isAddition)
                            {
                                <th>@oLine</th>
                                lineFrom = oLine.ToString();
                                oLine = oLine + 1;
                            }
                            else
                            {
					            <th>&nbsp;</th>
					        }
					
                            @if(!isDeletion)
                            {
                                <th>@nLine</th>
                                lineTo = nLine.ToString();
                                nLine = nLine + 1;
                            }
                            else
                            {
                                <th>&nbsp;</th>
                            }
					
                            <td class="@(isAddition ? "insert" : "") @(isDeletion ? "delete" : "")"><pre onclick="window.location='app://comment?lineFrom=@(lineFrom)&lineTo=@(lineTo)'">@l</pre></td>
        			    </tr>
                    }

                    if (Model.Patch.IndexOf(h) != Model.Patch.Count - 1)
                    {
                        <th>...</th>
                        <th>...</th>
                        <td class="skip"></td>
                    }
                }
			</tbody>
		</table>
    </body>
</html>
